<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>CarbonFootprint Analyzer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Annual Emissions Results</h1>

<h3>Country: {{ selected_country }} </h3>
<h3>Emissions: {{ result }} </h3>
<h3>Needed trees: {{trees}}</h3>

<h3>{{error}}</h3>
<br>
<button class="button" onclick="window.location.href='{{ url_for('emissions') }}'">Go back to emissions</button>
<hr>
<br>
<h3>Or:</h3>
<br>
<button class="button" onclick="window.location.href='{{ url_for('home') }}'">Go back to home page</button>
<button class="button" onclick="window.location.href='{{ url_for('regions') }}'">Explore regions</button>

</body>







